* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
.container,
header,
main,
label,
section,
.currency-container,
.currency-value{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #ccc;
    padding: 0 10px;
}

.container {
    width: 350px;
    flex-direction: column;
    border-radius: 20px 20px 50px 50px;
    background-color: #ddd;
    justify-content: center;
    
    box-shadow: 0 0 10px black ,inset 0 0 5px black;
    
}

header {
    width: 100%;
    padding: 10px 5px;
    background-color: rgb(0, 97, 187);
    border-radius: 20px 20px 0 0;
    
}
header h1{
    font-weight: bold;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
}

main {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 500px;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
    border-radius: 0 0  70px 70px;
}

label {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

select,
.input-real {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    opacity: .6;
    transition: .4s ease-in-out;
    border-radius: 30px;
}

select:hover,
.input-real:hover {
    opacity: 1;
}

.input-real.error {
    border: 2px solid red;
    opacity: 1;
}

.convert-button {
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    box-shadow: inset 0 0 5px black;
    opacity: .8;
}
.convert-button:hover{
    filter:contrast(110%);
    opacity: 1;
}

section {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    border-radius: 60px;
    min-height: 250px;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
}

.currency-container {
    min-width: 90%;
    font-size: 1.2rem;
    justify-content: center;
    background-color: rgb(179, 179, 179);
    height: 50%;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid black;
    flex-wrap: wrap;
    gap: 10px;
}

.currency-container img{
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
}

.arrow {
    border: 1px solid black;
    background-color: black;
    color: red;
    width: 40px;
    height: 40px;
    object-position: bottom;
    object-fit: contain;
    border-radius: 50%;
}

.currency-value {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(80, 77, 77);
    border: 2px solid black;
    overflow-wrap: break-word;
    word-break:break-all;
    min-width: 200px;
    min-height: 70px;
    border-radius: 50px;
    padding: 10px;
}

.currency-name{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: red;
}

.convert-button.error {
    background-color: red;
    opacity: 1;
}

.success {
    background-color: rgb(0, 255, 76);
    opacity: 1;
}


